.container{
    height:600px;
}
.container-header{
   margin-top:10px;
    width: 100%;
    height:100px;
    background: rgb(12, 190, 146);
    color: white;
    padding:10px;
}

.cells{
    padding:15px;
}

.col-md-12{
    height:50px;
    background: rgb(150, 216, 200);
    color: white;    
}